form .field .input .k-widget {
    padding: 0px !important;
    overflow: hidden;
    border-radius: 0px;
    border: 1px solid #ccc;
    box-sizing: border-box !important;
}
form .field .input .k-widget .k-picker-wrap {
    border-radius: 0px;
    box-shadow: none;
    background: none !important;
    border: 0;
}
form .field .input .k-widget .k-picker-wrap .k-input {
    padding: 3px 2px;
    border-radius: 0px;
    background: #fff;/*#fafafa*/
}
form .field .input .k-widget .k-picker-wrap .k-select {
    width: 35px;
    background: #fff;
}
form .field .input .k-widget.k-datetimepicker .k-picker-wrap .k-select {
    width: 70px;
    border-color: #ccc;
}
form .field .input .k-widget .k-picker-wrap .k-link {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 35px;
    padding: 0 !important;
    margin: 0;
}
form .field .input .k-widget .k-picker-wrap .k-link-date {
    left: 0px;
    border-right: 1px solid #ccc;
}
form .field .input .k-widget .k-picker-wrap .k-link-time {
    right: 0px;
}
form .field .input .k-widget .k-picker-wrap .k-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
}
form .field .input.full .k-widget .k-picker-wrap .k-icon {
    width: 250px;
}


form .field .input .k-widget .k-picker-wrap .k-icon::before,
form .field .input .k-widget .k-picker-wrap .k-icon::after {
    content: ' ';
}
.k-calendar-container {
    box-shadow: none !important;
}
.k-calendar-container .k-calendar .k-today,
.k-calendar-container .k-calendar .k-today.k-state-focused {
    background: none;
    box-shadow: none;
}
.k-calendar-container .k-calendar .k-today .k-link {
    color: inherit;
    font-weight: 600;
    text-decoration: underline;
    background: none;
}
.k-calendar-container .k-calendar .k-state-focused.k-state-selected {
    background: none;
    box-shadow: none;
}
.k-calendar-container .k-calendar td:hover .k-link,
.k-calendar-container .k-calendar .k-state-selected .k-link {
    color: #333;
    font-weight: 700;
    background: #eee;
}
.k-calendar-container .k-calendar .k-state-selected .k-link {
    background: #ddd;
}
.k-calendar-container .k-calendar .k-state-focused.k-state-selected .k-link  {
    border: 0;
}
.k-animation-container {
    margin-top: -1px;
}
.k-list-container {
    border-radius: 0px !important;
    box-shadow: none !important;
    background: #fff;/*#fafafa*/
}
.k-list-container .k-list .k-item {
    cursor: pointer;
}
.k-list-container .k-list .k-item.k-state-hover,
.k-list-container .k-list .k-item.k-state-hover:hover {
    background: #efefef;
}
.k-list-container .k-list .k-item.k-state-selected {
    color: inherit;
    font-weight: 700;
    background: #eeeeee;
}


/* Datetimepicker */
form .field .input .k-widget .k-picker-wrap .k-link-date {
    background-image: url('/images/default/icon-calendar.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center 4px;
}
form .field .input .k-widget .k-picker-wrap .k-link-time {
    background-image: url('/images/default/icon-clock.png');
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: center 5px;
}

/* Datepicker */
form .field .input .k-widget.k-datepicker .k-picker-wrap .k-select {
    background-image: url('/images/default/icon-calendar.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center 4px;
}

/* Timepicker */
form .field .input .k-widget.k-timepicker .k-picker-wrap .k-select {
    background-image: url('/images/default/icon-clock.png');
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: center 5px;
}

/* Border color of icons */
form .field .input .k-widget.k-datepicker .k-picker-wrap .k-select,
form .field .input .k-widget.k-timepicker .k-picker-wrap .k-select,
form .field .input .k-widget .k-picker-wrap .k-link-date,
form .field .input .k-widget.k-datetimepicker .k-picker-wrap .k-select {
    border-color: transparent !important;
}