/* General */
body {
    width: 100%;
    display: block;
    overflow-x: hidden;
}


/* Header */
.header-wrapper {
    padding: 20px 0;
}


/* Menu */
.menu-wrapper {

}
.menu-wrapper .menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-wrapper .menu li {
    display: inline-block;
}
.menu-wrapper .menu li a {
    display: block;
    padding: 10px 10px;
}


/* Footer */
.footer-wrapper {
    padding: 20px 0;
}
.footer-wrapper .developer {
    text-align: right;
}
.footer-wrapper .developer img {
    width: 160px;
    display: inline-block;
}


/* Content */
.content-wrapper {
    padding: 40px 0;
}






/* Responsive medium desktop */
@media all and (max-width: 1200px) {

}


/* Responsive small tablet */
@media all and (max-width: 992px) {

}


/* Responsive extra small mobile */
@media all and (max-width: 768px) {

    /* Hamburger */
    .hamburger {
        display: block;
        width: 36px;
        position: absolute;
        right: 22px;
        top: 6px;
    }
    .hamburger div {
        height: 3px;
        margin: 7px 0;
        background: #474747;
        transition: 0.35s;
    }
    .hamburger.cross-pre div:nth-child(1) {
        transform: translateY(10px) ;
    }
    .hamburger.cross-pre div:nth-child(2) {
        opacity: 0;
    }
    .hamburger.cross-pre div:nth-child(3) {
        transform: translateY(-10px) ;
    }
    .hamburger.cross div:nth-child(1) {
        transform: translateY(10px) rotate(-45deg);
    }
    .hamburger.cross div:nth-child(2) {
        opacity: 0;
    }
    .hamburger.cross div:nth-child(3) {
        transform: translateY(-10px) rotate(45deg);
    }
}